<aside class="blog-page__body__sidebar">
    <div class="sidebar-upper-container">
        <div class="blog-page__body__sidebar__social-wrapper">
            <p>Share</p>
            
            <a href="https://facebook.com/sharer/sharer.php?u={{encodeURI post.full_url}}" class="link social-link" target="_blank" rel="noopener">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="0.749756" y="0.75" width="38.5" height="38.5" rx="19.25" stroke="#8141DD" stroke-width="1.5"/>
                    <path d="M25.4569 10.1688H22.3575C20.9875 10.1688 19.6736 10.7131 18.7049 11.6818C17.7361 12.6505 17.1919 13.9644 17.1919 15.3344V18.4338H14.0925V22.5663H17.1919V30.8312H21.3244V22.5663H24.4237L25.4569 18.4338H21.3244V15.3344C21.3244 15.0604 21.4332 14.7976 21.627 14.6039C21.8207 14.4102 22.0835 14.3013 22.3575 14.3013H25.4569V10.1688Z" stroke="#8141DD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>   
            </a>
            
            <a href="https://twitter.com/intent/tweet/?text={{encodeURI post.title}}&amp;url={{encodeURI post.full_url}}" target="_blank" rel="noopener" class="link social-link">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="0.749756" y="0.75" width="38.5" height="38.5" rx="19.25" stroke="#8141DD" stroke-width="1.5"/>
                    <path d="M31.1816 12.3113C31.2066 12.2223 31.1062 12.153 31.0294 12.2044C30.1431 12.7972 29.1731 13.2552 28.1511 13.563C27.5568 12.8797 26.7671 12.3954 25.8887 12.1757C25.0102 11.9559 24.0855 12.0111 23.2395 12.334C22.3935 12.6569 21.6671 13.2319 21.1585 13.9811C20.6499 14.7302 20.3837 15.6176 20.3959 16.523V17.5097C18.6619 17.5546 16.9438 17.1701 15.3944 16.3902C13.8977 15.6369 12.6034 14.5372 11.6185 13.1837C11.5728 13.1209 11.4794 13.1255 11.4509 13.1978C10.9749 14.4049 8.26678 22.2301 16.4492 25.8668C14.4172 27.2461 11.9965 27.9377 9.54248 27.8401C18.4225 32.7735 29.2759 27.8401 29.2759 16.4934C29.275 16.2186 29.2485 15.9444 29.1969 15.6745C30.1406 14.7439 30.824 13.5843 31.1816 12.3113Z" stroke="#8141DD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>   
            </a>
            
            <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{encodeURI post.full_url}}&amp;title={{encodeURI post.title}}&amp;summary={{encodeURI post.title}}&amp;source={{encodeURI blogUrl}}" target="_blank" rel="noopener" class="link social-link">
                  <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="0.749756" y="0.75" width="38.5" height="38.5" rx="19.25" stroke="#8141DD" stroke-width="1.5"/>
                    <path d="M18.4312 22.7238C18.4312 24.8409 18.4312 26.4972 18.4312 28.5923C18.4312 28.9231 18.4533 28.9451 18.7841 28.9451C19.8867 28.9451 20.9894 28.9451 22.092 28.9451C22.5552 28.9451 22.5552 28.9451 22.5552 28.5041C22.5552 26.409 22.5552 24.7527 22.5552 22.6577C22.5552 21.9961 22.6213 21.3124 22.8639 20.6949C23.2388 19.7246 24.1209 19.2174 25.3118 19.2835C26.3262 19.3497 26.9217 19.879 27.1863 20.9155C27.2966 21.4227 27.3407 21.9299 27.3407 22.4371C27.3407 24.6425 27.3407 26.387 27.3407 28.6143C27.3407 28.9451 27.3627 28.9672 27.6935 28.9672C28.8403 28.9672 29.965 28.9672 31.1118 28.9672C31.4426 28.9672 31.4646 28.9451 31.4867 28.6143C31.5087 26.9824 31.4646 25.8113 31.5087 24.2014C31.5308 23.1208 31.5087 22.0622 31.4646 20.9816C31.4426 20.32 31.3544 19.6584 31.1779 18.9968C30.9133 17.9824 30.4722 17.1003 29.5901 16.4828C28.8624 15.9756 28.0243 15.7771 27.1422 15.6889C25.2677 15.5124 23.724 16.0638 22.6434 17.6296C22.5993 17.6957 22.5772 17.806 22.4669 17.7619C22.3787 17.7178 22.4008 17.6296 22.4008 17.5413C22.4008 17.1444 22.4008 16.7695 22.4008 16.3725C22.4008 16.0197 22.3787 15.9976 22.0259 15.9976C20.9673 15.9976 19.9308 15.9976 18.8723 15.9976C18.4533 15.9976 18.4312 15.9976 18.4312 16.4166C18.4312 18.5337 18.4312 20.6288 18.4312 22.7238ZM10.9339 22.7238C10.9339 24.8189 10.9339 26.4752 10.9339 28.5702C10.9339 28.9451 10.956 28.9672 11.3309 28.9672C12.4556 28.9672 13.5803 28.9672 14.683 28.9672C15.0358 28.9672 15.0579 28.9451 15.0579 28.5923C15.0579 24.3801 15.0579 20.6288 15.0579 16.4166C15.0579 16.0417 15.0358 16.0197 14.6609 16.0197C13.5582 16.0197 12.4556 16.0197 11.3529 16.0197C10.9339 16.0197 10.9119 16.0417 10.9119 16.4387C10.9339 18.5337 10.9339 20.6288 10.9339 22.7238Z" stroke="#8141DD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <circle cx="12.9772" cy="11.2505" r="2.41789" stroke="#8141DD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </a>

            <a href="" class="link social-link">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="0.749756" y="0.75" width="38.5" height="38.5" rx="19.25" stroke="#8141DD" stroke-width="1.5"/>
                    <path d="M18.2893 21.3605C18.6874 21.8927 19.1953 22.333 19.7786 22.6517C20.3618 22.9703 21.0068 23.1598 21.6697 23.2073C22.3326 23.2548 22.998 23.1591 23.6207 22.9269C24.2434 22.6946 24.8089 22.3311 25.2788 21.861L28.0597 19.0801C28.904 18.2059 29.3712 17.0351 29.3606 15.8199C29.3501 14.6046 28.8626 13.4421 28.0033 12.5828C27.1439 11.7234 25.9814 11.236 24.7661 11.2254C23.5509 11.2148 22.3801 11.682 21.5059 12.5263L19.9115 14.1114" stroke="#8141DD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M21.9975 19.5063C21.5994 18.9741 21.0915 18.5337 20.5083 18.2151C19.925 17.8964 19.2801 17.7069 18.6171 17.6594C17.9542 17.6119 17.2888 17.7076 16.6661 17.9399C16.0434 18.1722 15.4779 18.5357 15.0081 19.0057L12.2271 21.7867C11.3828 22.6608 10.9156 23.8316 10.9262 25.0469C10.9368 26.2621 11.4242 27.4246 12.2836 28.284C13.1429 29.1433 14.3054 29.6308 15.5207 29.6413C16.7359 29.6519 17.9067 29.1847 18.7809 28.3404L20.366 26.7553" stroke="#8141DD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>  
            </a>
        </div>

        <button class="button-rss">
            Subscribe with RSS
        </button>
    </div>

    <a href="https://pulse.support/get-started" class="blog-page__body__sidebar__cta-wrapper">
        <h3>Production Support & Operations Intelligence for Elasticsearch</h3>
        <img class="cta-image" src="/blog/static/theme/CTA-Image.svg" alt="">
        <button class="button-primary button-primary--solid">
            Get Started Now
        </button>
        <img class="inverted-left-dots" src="/blog/static/theme/InvertedLeftDots.svg" alt="">
    </a>

    <a href="https://pulse.support/get-started" class="blog-page__body__sidebar__cta-wrapper">
        <img class="inverted-left-dots" src="https://pulse.support/banners/300x600_pulse_ad_performance.png" alt="">
    </a>
</aside>