<aside class="blog-page__body__sidebar">
    <div class="sidebar-upper-container">
        <div class="blog-page__body__sidebar__social-wrapper">
            <p>Share</p>
            <a href="https://facebook.com/sharer/sharer.php?u={{encodeURI post.full_url}}" class="link social-link" target="_blank" rel="noopener">
            </a>
            <a href="https://twitter.com/intent/tweet/?text={{encodeURI post.title}}&amp;url={{encodeURI post.full_url}}" target="_blank" rel="noopener" class="link social-link">
            </a>
            <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{encodeURI post.full_url}}&amp;title={{encodeURI post.title}}&amp;summary={{encodeURI post.title}}&amp;source={{encodeURI blogUrl}}" target="_blank" rel="noopener" class="link social-link">
            </a>
            <a href="" class="link social-link">
            </a>
        </div>

        <button class="button-primary">
            Subscribe with RSS
        </button>
    </div>

    <div class="blog-page__body__sidebar__cta-wrapper">
        <h3>Production Support & Operations Intelligence for Elasticsearch</h3>
        <img src="https://pulse.support/assets-blog/CTA-Image.svg" alt="">
        <button class="button-primary button-primary--solid">
            Get Started Now
        </button>
    </div>
</aside>