<a href="{{this.url}}" class="post">
    <div class="post__container">
        <div class="post__container__text-wrapper">
            <h2>{{this.title}}</h2>
            <p>{{{this.excerpt}}}</p>
            <!-- {{this.published_at_str}} -->
        </div>
        <img src="{{this.metadata.header_image_url}}" alt="{{this.title}}">
    </div>
</a>