<aside class="blog-page__body__sidebar">
    <div class="sidebar-upper-container">
        <div class="blog-page__body__sidebar__social-wrapper">
            <p>Share</p>
            <a href="https://facebook.com/sharer/sharer.php?u={{encodeURI post.full_url}}" class="link social-link" target="_blank" rel="noopener">
            <img src="/blog/static/theme/Facebook.svg" alt="Share on Facebook">
            </a>
            <a href="https://twitter.com/intent/tweet/?text={{encodeURI post.title}}&amp;url={{encodeURI post.full_url}}" target="_blank" rel="noopener" class="link social-link">
            <img src="/blog/static/theme/Twitter.svg" alt="Share on Facebook">
            </a>
            <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{encodeURI post.full_url}}&amp;title={{encodeURI post.title}}&amp;summary={{encodeURI post.title}}&amp;source={{encodeURI blogUrl}}" target="_blank" rel="noopener" class="link social-link">
            <img src="/blog/static/theme/LinkedIn.svg" alt="Share on Facebook">
            </a>
            <a href="" class="link social-link">
            <img src="/blog/static/theme/Link.svg" alt="Share on Facebook">
            </a>
        </div>

        <button class="button-rss">
            Subscribe with RSS
        </button>
    </div>

    <a href="https://pulse.support/get-started" class="blog-page__body__sidebar__cta-wrapper">
        <h3>Production Support & Operations Intelligence for Elasticsearch</h3>
        <img class="cta-image" src="/blog/static/theme/CTA-Image.svg" alt="">
        <button class="button-primary button-primary--solid">
            Get Started Now
        </button>
        <img class="inverted-left-dots" src="/blog/static/theme/InvertedLeftDots.svg" alt="">
    </a>

    <a href="https://pulse.support/get-started" class="blog-page__body__sidebar__cta-wrapper">
        <img class="inverted-left-dots" src="https://pulse.support/banners/300x600_pulse_ad_performance.png" alt="">
    </a>
</aside>