<main>
    <section class="page-hero posts">
        <article class="post">
            <div class="post__container">
                <div class="post__container__text-wrapper page-hero__text-container">
                    <div>
                        <p>{{post.reading_time}}</p>
                        <h2>{{post.title}}</h2>
                    </div>
                    <div class="page-hero__text-container__tag-wrapper">
                        {{# if post.series}}
                            <a href="{{post.series_url}}">Series: {{post.series}}</a>
                        {{/if}}
                        {{#each post.tags}}
                        <a href="{{this.url}}">{{this.key}}</a>
                        {{/each}}
                    </div>
                </div>
                <img src="{{{post.metadata.header_image_url}}}" alt=""><!-- {{post.published_at_str}} -->
            </div>
        </article>
    </section>

    <section class="blog-page">

        <article class="blog-page__body">
            <div class="blog-page__body__text-content">
                {{{post.content}}}
            </div>

            {{> sidebar}}
        </article>

{{#if post.more_like_this}}
        <article class="blog-page__read-next posts">
            <h2>Read Next</h2>

        {{#each post.more_like_this}}
            <a href="{{this.url}}" class="post">
                <div class="post__container">
                    <div class="post__container__text-wrapper">
                        <h2>{{this.title}}</h2>
                        <p>{{{this.excerpt}}}</p>
                    </div>
                    <img src="{{this.metadata.header_image_url}}" alt="">
                </div>
            </a>
        {{/each}}

        </article>
{{/if}}
    </section>
</main>

<script>
$(function() {
  $('.post-content').find('img').each(function() {
    var href = $(this).attr('src');
    $(this).replaceWith($('<a data-fancybox="gallery" href="' + href + '"><img src="' + href + '"></a>'));
  });
});
</script>