<main>
    <section class="page-hero posts">
        <article class="post">
            <div class="post__container">
                <div class="post__container__text-wrapper page-hero__text-container">
                    <div>
                        <p>{{post.reading_time}}</p>
                        <h2>{{post.title}}</h2>
                    </div>
                    <div class="page-hero__text-container__tag-wrapper">
                        {{#if post.series}}
                            <a href="{{post.series_url}}">Series: {{post.series}}</a>
                        {{/if}}
                    </div>
                </div>
                <img src="{{{post.metadata.header_image_url}}}" alt="">
            </div>
        </article>
    </section>

    <section class="blog-page">

        <article class="blog-page__body">
            <div class="blog-page__body__text-content">
                {{{post.content}}}
            </div>
        </article>
    </section>
</main>