<main>
    <div class="main-cards-container">
        {{#if (or (eq template "tagged") (eq template "series")) }}
            <div class="blog-title my-5">
                {{#if tagDescription}}
                    <h3><span>Blog /</span> {{tagDescription.title}}</h3>
                    <p class="header-text">{{{tagDescription.content}}}</p>
                {{else}}
                    <h3><span>Posts tagged with:</span> {{tag}}{{series}}</h3>
                {{/if}}
            </div>
        {{/if}}

        {{#if posts.length}}
        <div class="cards-container">
            {{#each posts}}
                {{> post-card this}}
            {{/each}}
        </div>
        {{> pagination}}
        {{else}}
            {{> no-content}}
        {{/if}}
    </div>
</main>